.contain-logo {
  display: flex;
  align-items: center;
}


.logo {
    color: $secretion-color;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
     line-height: 1.16;
    letter-spacing: 0.03em;
   
    justify-content: center;
 

    .bg-logo {
        color: $logo-color;
    }

    .bg-logo-footer {
        color: $hero-color;
    }
    
    @media screen and (max-width: 1199px) {
      display: flex;
    }

    
   @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    
  }
}
