 $primary-text-color: #757575;
 $text-title-color: #212121;
 $secretion-color: #2196F3;
 $second-background: #F5F4FA;
 $hero-color: #FFFFFF;
 $background-hero: #2F303A;
 $logo-color: #000000;
 $social: #AFB1B8;

 